
body {
    max-width:  1200px;
    margin: 0 auto ;
    background-color: black;
    
}
.home-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows:204px 300px 100px ;
}



img  {

    
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
    margin-top:10px;
 

}
.text   {

    text-align: center;
    background-color: white;
   
    color: rgb(0, 208, 255);


}
h1 {
    font-size: 12pt;
     

}

h2 {
    font-size: 18;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}

p {
    font-size:13pt ;
    margin: 25pt;


}

h3 {
    font-size:18pt;
}

.h4 {
    font-size: 9pt;

}

h5 {
    font-size: 13
}

.foot {
    display: grid;
    grid-gap: 25pt;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(79, 123, 137);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    
    text-align: center;
    color: white;



}

