/*# import fonts from gooole*/
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&family=Labrada:wght@900&family=Open+Sans:wght@300&display=swap');

body {
    background-color:white;
    font-size: 22px;
    font-family:"Labrada", "Georgia", serif;
    padding: 0;
    margin:0;
}

#content {
    max-width:  1600px;
    margin: 0 auto ;
    text-align:left;
    margin-top: 5px;
}
#content1 {
    max-width:  1600px;

   
    margin: 0 auto ;
    text-align:left;
    margin-top: 5px;
}




header {
    display:  grid ;
    grid-template-columns:200px 4fr 40px ;
    background-color:rgb(106, 190, 106);
} 

#menu_bar {
    grid-column:3/4 ;
    text-align: right;
}
#menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
#menu1 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
#menu2 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}



#logo_link  {
    padding-top: 5px;
    justify-self: center;
    align-self : center
}

.logo  {
    width: 160px
}


nav  {
    grid-column: 2/3;
    text-align: center;
    background-color:rgb(106, 190, 106);
    color:black;
    padding: 5px;
    margin-right: 30px;
    text-decoration:none;
    display: flex;
    justify-content: space-around;


}
nav a:hover {
    background-color:white;
    color:blueviolet
}

#planting   {
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 10px

}
#planting-box{
    grid-column: 1/2;
}
.home-title {
    font-size:40px;
}



main  {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:1fr 50px;
}

h2  {
    font-family:"Labrada", "Georgia", serif;

    color:blue;
    text-align: center;
}

#planting-card {
    grid-column-start: 1;
    grid-column-end: 3;
}

#article {
    grid-column-start: 1;
    grid-column-end: 2;

}



  
.card-img:hover{
    transform: scale(1.1);
    opacity: .6;

}

h1  {
    font-family: "Labrada", "Georgia", serif;

    color:blue;
    margin:0; 
    text-align: center; 
}  


    


#planting-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  
}
#text {
    grid-column:1/2 ;
    margin-right: 10px;
}

#planting-box {
    grid-column: 1/3;
    margin-top: 5px;
}
#planting-box2 {
    grid-column: 2/3;
    margin-top: 10px;
}
#plants_card {
    grid-column:1/2 ;
    grid-row: 2/3;
}
.plants {
    grid-column:1/2 ;
    grid-row: 3/4;
}

#text2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
p {
    font-family:"Faustina","Times New Roman", serif;

    font-size: 27px;
}


.img {
    grid-column: 2/3;
}
 
#fruit-grid {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:400px ;

 
}

#chili {
    grid-column:1/3;
    text-align: center;
    margin-top: 20px;
}
.plant-msg {
    height: 70px;
}
#grapes {
    grid-column: 1/2;
    grid-row:2/3


}


footer {
    background-color:rgb(106, 190, 106);
    color:white;
    padding: 25px 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

footer p {
    font-size: 1.2em;
    color: black;
    font-family:  "Faustina", "Times New Roman", serif;

}
footer a {
    color:black;
    text-decoration:none;
}
footer p a:hover {
    text-decoration:none;
    color:yellow;
}

footer a:hover {
    color:blueviolet;
}

.social img  {
    padding-top: 5px;
} 

.harvest_footer {
    position:relative;
    bottom : 0;
    width: 1500px;
    background-color:rgb(106, 190, 106);
    color:white;
    padding: 25px 50px;
    margin-top: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.planting_footer {
    position:relative;
    bottom : 0;
    width: 1500px;
    background-color:rgb(106, 190, 106);
    color:white;
    padding: 25px 50px;
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#grapes {
    margin-top: 50px;
}






:root {
    /* 3b429f-f4b860-6a994e-cfbff7-f28123"
    /* change the values below to your colors from your palette */
    --primary-color: #396E94   ;
    --secondary-color: #E7C24F ;
    --accent1-color: #A43312;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Labrada", "Georgia", serif;
    --paragraph-font: "Faustina", "Times New Roman", serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3b429f;  /* headlines on a white background */ 
    --headline-color-on-color: #cfbff7; /* headlines on a colored background */ 
    --paragraph-color-on-white: white /* paragraph text on a white background */ 
    --paragraph-color-on-color: #f4b860; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3b429f;
    --nav-link-color: #6a994e;
    --nav-background-color: #cfbff7;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #f4b860;
}



