/*# import fonts from gooole*/
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&family=Labrada:wght@900&family=Open+Sans:wght@300&display=swap');

body {
    background-color:white;
    font-size: 22px;
    font-family:'Labrada', 'Faustina', 'Lucida Grande', sans-serif;
    padding: 0;
    margin:0;
}

#content {
    max-width:  1600px;
   
    margin: 0 auto ;
    text-align:left;
    margin-top: 5px;
}



header {
    display:  grid ;
    grid-template-columns:200px 4fr 1fr ;
    background-color:rgb(106, 190, 106);
} 

#menu_bar {
    grid-column:3/4 ;
    text-align: right;
}
#menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }


#logo_link  {
    padding-top: 5px;
    justify-self: center;
    align-self : center
}

.logo  {
    width: 160px
}


nav  {
    grid-column: 2/3;
    text-align: center;
    background-color:rgb(106, 190, 106);
    color:black;
    padding: 5px;
    margin-right: 30px;
    text-decoration:none;
    display: flex;
    justify-content: space-around;


}
nav a:hover {
    background-color:white;
    color:blueviolet
}

#planting   {
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 50px

}


#planting-msg   {
    color: white;
    font-family: Labrada;
    
}
.home-title {
    font-family: "Labrada","Faustina",sans-serif;
    font-size:2em;
    grid-column: 2/3;
    text-align: center;
    color:blue;
    margin-top: 10px;
}

h1 {
    font:"Labrada" ;
    width: 100%;
    display: block;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row:1/2 ;
    margin-top:100px ;
}

main  {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:1fr 50px;
}

h2  {
    font-family:  "Faustina","Brush Script MT",sans-serif;
    color:black;
    text-align: center;
}
#planting-card {
    grid-column-start: 2;
    grid-column-end: 3;
}

#article {
    grid-column-start: 1;
    grid-column-end: 2;

}



  
.card-img:hover{
    transform: scale(1.1);
    opacity: .6;

}

h2  {
    font-family: "faustina","Brush Script MT",sans-serif;
    color:blue;
    margin:0; 
    text-align: center; 
}  

.msg p  {
    font-size: .8em;
    color:black;
    padding-bottom: 15px;
    font-family:  "faustina","Brush Script MT",sans-serif;
    
}

#planting-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  
}
#text {
    grid-column:1/2 ;
    margin-right: 10px;
}

#planting-box {
    grid-column: 2/3;
    margin-top: 10px;
}
#plants_card {
    grid-column:1/2 ;
    grid-row: 2/3;
}

#text2 {
    grid-column: 2/3;
    grid-row: 3/4;
}


 


footer {
    background-color:rgb(106, 190, 106);
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
footer p {
    font-size: 1.2em;
    font-family:  "faustina","Brush Script MT",sans-serif;

}
footer a {
    color:black;
    text-decoration:none;
}
footer p a:hover {
    text-decoration:none;
    color:yellow;
}

footer a:hover {
    color:blueviolet;
}

.social img  {
    padding-top: 5px;
} 

:root {
    /* 3b429f-f4b860-6a994e-cfbff7-f28123"
    /* change the values below to your colors from your palette */
    --primary-color: #3b429f   ;
    --secondary-color: #f4b860 ;
    --accent1-color: #6a994e;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Bree Serif , Helvetica, sans-serif";
    --paragraph-font: " Romanesco, Helvetica, sans-serif";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3b429f;  /* headlines on a white background */ 
    --headline-color-on-color: #cfbff7; /* headlines on a colored background */ 
    --paragraph-color-on-white: white /* paragraph text on a white background */ 
    --paragraph-color-on-color: #f4b860; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3b429f;
    --nav-link-color: #6a994e;
    --nav-background-color: #cfbff7;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #f4b860;
}


h5 {
    font-size: 20pt;
} 
#rafting {
    display:grid;
    grid-template-columns:1fr 2fr 1fr ;

}


.rafting-box {
    grid-column: 1/5;
}
